<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>1</TotalTime><Pages>10</Pages><Words>3214</Words><Characters>18294</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>762</Lines><Paragraphs>524</Paragraphs><ScaleCrop>false</ScaleCrop><Company>Harper James Solicitors</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>20984</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>